<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bulk Material</title>
</head>
<body>
    <h1>Add Bulk Material</h1>
    <form method="POST" action="">
        <label for="material_type">Material Type:</label>
        <input type="text" name="material_type" required><br>
        <label for="date_received">Date Received:</label>
        <input type="date" name="date_received" required><br>
        <label for="picture_url">Picture URL:</label>
        <input type="text" name="picture_url"><br>
        <button type="submit">Add Bulk Material</button>
    </form>
</body>
</html>
