<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/images.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/map.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</head>
<body>
    <a href="{{ url_for('views.index') }}">Home</a> >
    <a href="{{ url_for('views.construction_site', site_id=construction_site.id) }}">{{ construction_site.site_name }}</a> <br>
    <h1>{{ bulk_material.material_type }}</h1>
    <p>Date Received: {{ bulk_material.date_received }}</p>
    <p>Quantity: {{ tracking_records[-1].quantity }}</p>
    <img src="/{{ tracking_records[-1].picture_url }}" class="normal-image">

    <div id="map" class="map"></div> <!-- Map container -->

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var constructionSiteMapFile = '{{ url_for("static", filename="images/" + bulk_material.site_id|string + "/site-map.jpg") }}';

        var bulksData = [
            { latitude: {{ bulk_material.latitude}}, longitude: {{ bulk_material.longitude}}, popupContent: "{{ bulk_material.material_type}}" },
        ];

        // Call the function from the included maps.js file
        createInteractiveMap('map', constructionSiteMapFile, bulksData);
    });
    </script>

    <h2>Material Tracking Records</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Date Tracked</th>
                <th>Quantity</th>
                <th>Responsible Person</th>
                <th>Picture Detection</th>
            </tr>
        </thead>
        <tbody>
            {% for record in tracking_records %}
                <tr>
                    <td>{{ record.date_tracked }}</td>
                    <td>{{ record.quantity }}</td>
                    <td>{{ record.responsible_person }}</td>
                    <td><img src="/{{ record.picture_detection_url }}" class="small-image"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Perform New Material Tracking</h3>
    <a href="{{ url_for('views.material_tracking_detection', bulk_id=bulk_material.id) }}">Perform Material Tracking</a>
</body>
</html>
