<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Construction Sites</title>
</head>
<body>
    <h1>Construction Sites</h1>
    <ul>
        {% for construction_site in construction_sites %}
            <li><a href="{{ url_for('views.construction_site', site_id=construction_site.id) }}">{{ construction_site.site_name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Add Construction Site</h2>
    <a href="{{ url_for('views.add_construction_site') }}">Add Construction Site</a>
</body>
</html>
